@charset "UTF-8";
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url("../src/Inter/web/Inter-Regular.woff2") format("woff2"), url("../src/Inter/web/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  user-select: none;
}

section {
  margin: 0;
}

.additional-info {
  display: block;
  height: auto;
  padding-bottom: 0;
  /* 1 карточка на ряд (малые экраны) */
  /* 2 карточки на ряд (средние экраны) */
  /* 3 карточки на ряд (большие экраны) */
}
.additional-info h1 {
  font-size: 50px;
  margin: 0;
  padding: 10vh 0 0 5.4vw;
}
@media (max-width: 580px) {
  .additional-info h1 {
    font-size: 45px;
  }
}
@media (max-width: 460px) {
  .additional-info h1 {
    font-size: 35px;
  }
}
@media (max-width: 320px) {
  .additional-info h1 {
    font-size: 30px;
  }
}
.additional-info .stats-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 4vh 5.4vw 10vh;
  max-width: 1800px;
  margin: 0;
  justify-content: left;
  width: 90vw;
}
.additional-info .stats-card {
  aspect-ratio: 560/353;
  border-radius: 16px;
  align-items: left;
  justify-content: center;
  text-align: left;
  min-width: 280px;
  max-width: 560px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 280px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.additional-info .stats-card--blue {
  background: #67E2FD;
}
.additional-info .stats-card--purple {
  background: #E2C6FF;
}
.additional-info .stats-card--turquoise {
  background: #91FFF4;
}
.additional-info .stats-card-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* сохранение пропорций */
  z-index: 0;
}
@media (max-width: 630px) {
  .additional-info .stats-card {
    flex-basis: 100%;
    max-width: 560px;
  }
}
@media (min-width: 636px) and (max-width: 1260px) {
  .additional-info .stats-card {
    flex: 0 1 calc(50% - 7.5px);
    max-width: 560px;
  }
}
@media (min-width: 1261px) {
  .additional-info .stats-card {
    flex-basis: calc(33.333% - 10px);
    max-width: 560px;
  }
}

.about-program {
  display: block;
  height: auto;
  padding-bottom: 0;
  /* 1 карточка на ряд (малые экраны) */
  /* 2 карточки на ряд (средние экраны) */
  /* 3 карточки на ряд (большие экраны) */
}
.about-program h1 {
  font-size: 50px;
  margin: 0;
}
@media (max-width: 580px) {
  .about-program h1 {
    font-size: 45px;
  }
}
@media (max-width: 460px) {
  .about-program h1 {
    font-size: 35px;
  }
}
@media (max-width: 320px) {
  .about-program h1 {
    font-size: 30px;
  }
}
.about-program .about-program-container {
  display: flex;
  justify-content: left;
  margin: 0;
  gap: 4vh;
  padding: 10vh 5.4vw 0 5.4vw;
}
@media (max-width: 1500px) {
  .about-program .about-program-container {
    flex-direction: column;
  }
}
.about-program p {
  margin: 0;
  font-size: 24px;
}
@media (max-width: 1806px) {
  .about-program p {
    font-size: 22px;
  }
}
@media (max-width: 1650px) {
  .about-program p {
    font-size: 19px;
  }
}
@media (max-width: 700px) {
  .about-program p {
    font-size: 17px;
  }
}
.about-program .stats-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 4vh 5.4vw 10vh;
  max-width: 1800px;
  margin: 0;
  justify-content: left;
  width: 90vw;
}
.about-program .stats-card {
  aspect-ratio: 415/330;
  border-radius: 16px;
  align-items: left;
  justify-content: center;
  text-align: left;
  min-width: 245px;
  max-width: 415px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 245px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.about-program .stats-card--blue {
  background: #1550E2;
}
.about-program .stats-card--purple {
  background: #8B00F8;
}
.about-program .stats-card--light-blue {
  background: #00C9FD;
}
.about-program .stats-card--orange {
  background: #FF5F00;
}
.about-program .stats-card-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* сохранение пропорций */
  z-index: 0;
}
@media (max-width: 630px) {
  .about-program .stats-card {
    flex-basis: 100%;
    max-width: 415px;
  }
}
@media (min-width: 631px) and (max-width: 980px) {
  .about-program .stats-card {
    flex: 0 1 calc(50% - 7.5px);
    max-width: 415px;
  }
}
@media (min-width: 981px) and (max-width: 1421px) {
  .about-program .stats-card {
    flex: 0 1 calc(33.333% - 10px);
    max-width: 415px;
  }
}
@media (min-width: 1422px) {
  .about-program .stats-card {
    flex: calc(25% - 10px);
    max-width: 415px;
  }
}

.education-stages {
  display: block;
  height: auto;
  padding-bottom: 0;
  background-color: #E1F2FD;
}
.education-stages h1 {
  font-size: 50px;
  margin: 0;
  padding: 10vh 0 0 5.4vw;
}
@media (max-width: 580px) {
  .education-stages h1 {
    font-size: 45px;
  }
}
@media (max-width: 460px) {
  .education-stages h1 {
    font-size: 35px;
  }
}
@media (max-width: 320px) {
  .education-stages h1 {
    font-size: 30px;
  }
}
.education-stages .stages-container {
  padding: 4vh 5.4vw 10vh 5.4vw;
  display: flex;
  flex-wrap: wrap; /* разрешаем перенос на новую строку */
  gap: 20px;
}
.education-stages .stage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.education-stages .stage-number {
  font-size: clamp(18px, 2vw, 24px);
  color: #FFFFFF;
  flex: 0 0 auto; /* фиксированный размер по содержимому */
  width: clamp(50px, 8vw, 75px);
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}
.education-stages .stage-number--light-blue {
  background-color: #00C9FD;
}
.education-stages .stage-number--blue {
  background-color: #1550E2;
}
.education-stages .stage-number--orange {
  background-color: #FF5F00;
}
.education-stages .stage-number--purple {
  background-color: #8B00F8;
}
.education-stages .stage-description {
  flex: 1 1 auto;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5vw;
  font-size: clamp(17px, 1.5vw, 24px);
  border-radius: 38px;
  background-color: #fff;
  padding: 3px 25px;
  text-align: left; /* текст по центру */
  white-space: normal; /* разрешаем перенос строк */
  word-wrap: break-word; /* переносим длинные слова */
  overflow-wrap: break-word; /* аналогично, современный вариант */
}

/*# sourceMappingURL=styles.css.map */
